# ignore dlt folder
**/.dlt/
.dlt

setup_service_acc.sql
setup_user.sql
setup_user_reporter.sql
setup_user_exercise.sql


# dbt

target/
dbt_packages/
logs/
.env

.venv/
__pycache__/

# dagster
**/.tmp*/
